@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/node_modules/material-icons/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('/node_modules/material-icons/Material Icons'),
       local('/node_modules/material-icons/MaterialIcons-Regular'),
       url(/node_modules/material-icons/MaterialIcons-Regular.woff2) format('woff2'),
       url(/node_modules/material-icons/MaterialIcons-Regular.woff) format('woff'),
       url(/node_modules/material-icons/MaterialIcons-Regular.ttf) format('truetype');
}

// .material-icons {
//   font-family: 'Material Icons';
//   font-weight: normal;
//   font-style: normal;
//   font-size: 24px;  /* Preferred icon size */
//   display: inline-block;
//   line-height: 1;
//   text-transform: none;
//   letter-spacing: normal;
//   word-wrap: normal;
//   white-space: nowrap;
//   direction: ltr;
//
//   /* Support for all WebKit browsers. */
//   -webkit-font-smoothing: antialiased;
//   /* Support for Safari and Chrome. */
//   text-rendering: optimizeLegibility;
//
//   /* Support for Firefox. */
//   -moz-osx-font-smoothing: grayscale;
//
//   /* Support for IE. */
//   font-feature-settings: 'liga';
// }



.black8{
  color: rgba(0,0,0,0.87);
}
.black5{
  color: rgba(0,0,0,0.54);
}
.black3{
  color: rgba(0,0,0,0.38);
  &:hover{color: rgba(0,0,0,0.54); cursor: normal;}
}
.black1{
  color: rgba(0,0,0,0.12);
  &:hover{color: rgba(0,0,0,0.37); cursor: normal;}
}

.white{ color: #ffffff;}
.white7{
  color: rgba(255,255,255,0.7);
}
.white5{
  color: rgba(255,255,255,0.5);
}
