@import '../sass/_personal_vars.scss';
@import '../sass/_Main-bar.scss';
@import '../sass/extensions/mdPickers/mdPickers.css'; // Extensão que adiciona Datepickers e TimePickers mais bonitos.

//Listagem de Negociacões
@import '../sass/negociacoes/Deals_list/_main-toolbar.scss';
@import '../sass/negociacoes/Deals_list/_sub-toolbar.scss';
@import '../sass/negociacoes/Deals_list/_card-negociacao.scss';
@import '../sass/negociacoes/Deals_list/_filtros.scss';

//Negociação Única
@import '../sass/negociacoes/Deal_detail/_sub-toolbar.scss';

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
body{ height: 100%; position: relative;}
ui-view{height: 100%;}
h4, h5, h6{margin: 0;}
h5{font-size: .8rem; font-weight: 400;}
.truncate{
  overflow: hidden; text-overflow: ellipsis;
}

a.md-default-theme:not(.md-button), a:not(.md-button){
  color: inherit;
  cursor: pointer;
}

ul{margin: 0; padding: 0;}

a.md-default-theme:not(.md-button):hover, a:not(.md-button):hover{
  color: rgb(42,173,191);
}

md-checkbox{margin-bottom: 0;}
md-autocomplete{margin-top: 0.6rem; margin-bottom: 0.6rem;}

.detail-deal{height: 100%;}
.detail-deal > md-content{ height: calc(100% - 249px);}

.criar-anotacao{
  margin: 0;
  border-radius: 0;
  md-input-container{margin-top: 0;}
  textarea{transition: .2s ease; border-bottom: 0; height: 100px !important; padding: 0 20px; label{position: absolute; top: 0;}}
  md-content{background: white;}
}
.editable:hover{
  &::after{
    position: absolute;
    font-family: 'Material Icons';
    line-height: 1.2rem;
    -webkit-font-feature-settings: 'liga';
     content: "create";
     font-size: 1.2rem;
     margin-left: .6rem;
}
}

.fieldContainer{
  margin: 0;
  padding: 6px 6px;
  position: relative;
  md-input-container{width: 100%;}
  textarea{padding: 6px 12px;}
.contact-chip md-chips-wrap{ margin: 0 12px;}
  .md-char-counter{margin-right: 12px;}
  md-list-item.md-2-line{margin: 0 12px;}
  md-card{margin: 0 12px;}
  h5{margin: 0 12px;}
  .md-menu{padding: 6px;}
  input{margin-left: 6px;}
  // &:first-of-type{width: auto;}
  // &:nth-of-type(2){width: calc(100% - 100px); margin-top: 7px;}
  // &:nth-of-type(3){clear: both;}
  // &:nth-of-type(5){clear: both;}
  // &:nth-of-type(7){clear: both; height: auto; width: 100%;}
}
.ntask-heading{
  margin-top: 1rem;
  margin-bottom: .4rem;

}

#empty-tasks{
  background-image: url("/master_img/no_tasks.gif");
  background-position: right -90px;
  background-size: auto 250px;
  background-repeat: no-repeat;
  height: 150px;
  width: 100%;
  h1{position: absolute; top: 110px; left: 3rem;}
}
