@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/node_modules/material-icons/MaterialIcons-Regular.eot);
  /* For IE6-8 */
  src: local("/node_modules/material-icons/Material Icons"), local("/node_modules/material-icons/MaterialIcons-Regular"), url(/node_modules/material-icons/MaterialIcons-Regular.woff2) format("woff2"), url(/node_modules/material-icons/MaterialIcons-Regular.woff) format("woff"), url(/node_modules/material-icons/MaterialIcons-Regular.ttf) format("truetype"); }

.black8 {
  color: rgba(0, 0, 0, 0.87); }

.black5 {
  color: rgba(0, 0, 0, 0.54); }

.black3 {
  color: rgba(0, 0, 0, 0.38); }
  .black3:hover {
    color: rgba(0, 0, 0, 0.54);
    cursor: normal; }

.black1 {
  color: rgba(0, 0, 0, 0.12); }
  .black1:hover {
    color: rgba(0, 0, 0, 0.37);
    cursor: normal; }

.white {
  color: #ffffff; }

.white7 {
  color: rgba(255, 255, 255, 0.7); }

.white5 {
  color: rgba(255, 255, 255, 0.5); }

.filterpull .innerfilters md-list > md-list-item.md-no-proxy {
  margin-bottom: .5rem; }

.filterpull .innerfilters md-list > md-list-item.md-no-proxy > md-input-container {
  margin-bottom: 0;
  width: 100%;
  margin-bottom: -1rem; }

.filterpull .innerfilters md-menu-bar {
  padding: 0; }

.innermenus {
  box-shadow: 2px 2px 10px #B3B3B3;
  margin-top: -100px;
  max-height: 565px; }
  .innermenus md-menu-item > md-icon {
    width: 24px;
    padding-right: 0;
    pointer-events: none; }

#containerForResults {
  overflow-y: scroll;
  max-height: 390px; }

.savefilter {
  background: #fafafa;
  padding-top: 2rem; }

.card404 {
  background-image: url("../master_img/lion404.jpg");
  background-position: center center;
  background-size: 400px auto;
  background-repeat: no-repeat; }

@media screen and (max-width: 960px) {
  md-content {
    background-color: #e0e0e0; } }

.table-list {
  min-height: 75px; }
  @media screen and (min-width: 961px) {
    .table-list {
      margin: 0;
      border-bottom: 1px solid #e0e0e0;
      box-shadow: none;
      border-left: 3px solid transparent; } }

.card-red {
  border-left: 3px solid #d53b3b; }
  @media screen and (max-width: 960px) {
    .card-red {
      border-left: 6px solid #d53b3b;
      margin-bottom: 1rem; } }
  @media screen and (max-width: 600px) {
    .card-red {
      border-left: 0;
      border-top: 5px solid #d53b3b;
      margin-bottom: 1rem; } }

.card-green {
  border-left: 3px solid #3BD58F; }
  @media screen and (max-width: 960px) {
    .card-green {
      border-left: 6px solid #3BD58F;
      margin-bottom: 1rem; } }
  @media screen and (max-width: 600px) {
    .card-green {
      border-left: 0;
      border-top: 5px solid #3BD58F;
      margin-bottom: 1rem; } }

.card-yellow {
  border-left: 3px solid #D4BD45; }
  @media screen and (max-width: 960px) {
    .card-yellow {
      border-left: 6px solid #D4BD45;
      margin-bottom: 1rem; } }
  @media screen and (max-width: 600px) {
    .card-yellow {
      border-left: 0;
      border-top: 5px solid #D4BD45;
      margin-bottom: 1rem; } }

.rate md-radio-button ._md-container {
  display: none; }

.rate md-radio-button ._md-label {
  margin-left: 0; }

.rate .material-icons {
  font-size: 16px; }

.rate md-icon {
  width: 13px;
  height: 15px;
  min-width: 0;
  min-height: 0; }

.rateBig md-radio-button ._md-container {
  display: none; }

.rateBig md-radio-button ._md-label {
  margin-left: 1rem; }

.rateBig .material-icons {
  font-size: 32px; }

.rateBig md-icon {
  width: 26px;
  height: 30px;
  min-width: 0;
  min-height: 0; }

.userpic .md-avatar {
  margin: 0; }

.who md-list-item .md-avatar, .who md-list-item .md-avatar-icon, .who md-list-item ._md-list-item-inner .md-avatar, .who md-list-item ._md-list-item-inner .md-avatar-icon {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px; }

.who md-list-item, .who md-list-item ._md-list-item-inner {
  min-height: 20px; }
  .who md-list-item:nth-child(2), .who md-list-item ._md-list-item-inner:nth-child(2) {
    font-size: .8rem;
    color: rgba(0, 0, 0, 0.37); }

.recorrencia {
  cursor: default; }
  .recorrencia md-list-item > div.md-primary > md-icon:not(.md-avatar-icon), .recorrencia md-list-item > div.md-secondary > md-icon:not(.md-avatar-icon), .recorrencia md-list-item > md-icon:first-child:not(.md-avatar-icon), .recorrencia md-list-item > md-icon.md-secondary:not(.md-avatar-icon), .recorrencia md-list-item ._md-list-item-inner > div.md-primary > md-icon:not(.md-avatar-icon), .recorrencia md-list-item ._md-list-item-inner > div.md-secondary > md-icon:not(.md-avatar-icon), .recorrencia md-list-item ._md-list-item-inner > md-icon:first-child:not(.md-avatar-icon), .recorrencia md-list-item ._md-list-item-inner > md-icon.md-secondary:not(.md-avatar-icon) {
    width: auto;
    margin-top: 3px;
    margin-bottom: 0;
    min-height: 0; }
  .recorrencia md-list-item > p {
    font-size: 0.9rem; }
  .recorrencia span {
    color: rgba(0, 0, 0, 0.54);
    font-size: 0.65rem;
    margin-left: 10px; }
  .recorrencia p > span {
    color: inherit;
    font-size: 0.65rem;
    vertical-align: top;
    margin-left: 0; }
  .recorrencia md-list-item > md-icon:first-child:not(.md-avatar-icon), .recorrencia md-list-item ._md-list-item-inner > md-icon:first-child:not(.md-avatar-icon) {
    margin-right: 0px;
    font-size: .6rem; }
  .recorrencia md-list-item, .recorrencia md-list-item ._md-list-item-inner {
    min-height: 21px; }
  .recorrencia md-icon {
    height: auto; }

.tarefas > div > div._md-list-item-inner > div.md-list-item-text {
  color: rgba(0, 0, 0, 0.87); }

.tarefas .late {
  color: #bd992e; }

.tarefas .danger {
  color: #c83a3a; }

.progress {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 145px; }

.progress li {
  height: 35px;
  white-space: nowrap;
  position: relative;
  line-height: 2.1rem;
  color: #1dc2e7; }
  .progress li:first-of-type {
    width: 3px;
    margin-left: 1rem; }

.progress li svg {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: -0.7rem;
  margin-top: -1px;
  stroke: #1dc2e7;
  stroke-width: 3;
  width: 100%; }

.progress li:after {
  font-family: 'Material Icons';
  -webkit-font-feature-settings: 'liga';
  content: "fiber_manual_record";
  font-size: 0.7rem;
  position: absolute;
  right: .35rem;
  cursor: pointer;
  z-index: 2; }

.progress li.active svg {
  stroke: #1dc2e7;
  transition: 0.25s ease; }

.progress li.active:after {
  transition: 0.2s ease;
  font-size: 1.2rem;
  right: 0; }

.progress li.active ~ li {
  color: #ababab; }
  .progress li.active ~ li svg {
    stroke: #aaaaaa; }

.card-info li {
  list-style: none; }

.toolbar-height {
  min-height: 135px; }

.btn-indent md-list-item div.md-button._md-no-style {
  padding: 0 28px; }

.sidebar {
  max-width: 220px; }
  .sidebar md-toolbar {
    background-image: url("../master_img/userbg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-origin: border-box; }
    .sidebar md-toolbar > md-menu {
      margin: 0;
      position: absolute;
      bottom: 0; }

.searchinput {
  min-width: 240px;
  margin: 0;
  padding: 0;
  color: rgba(255, 255, 255, 0.87); }
  .searchinput input {
    border-color: rgba(255, 255, 255, 0.37);
    color: white; }
  .searchinput md-input-container.md-plugBlank-theme .md-input {
    color: rgba(255, 255, 255, 0.87);
    border-color: rgba(255, 255, 255, 0.3); }

md-input-container.md-plugBlank-theme .md-input {
  color: rgba(255, 255, 255, 0.87);
  border-color: rgba(255, 255, 255, 0.3); }

.subtoolbar {
  outline: 0;
  border-left: 3px solid transparent;
  white-space: nowrap; }
  .subtoolbar a {
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.54) !important;
    padding-right: 0.6rem;
    box-sizing: content-box;
    display: block; }
    .subtoolbar a::after {
      position: absolute;
      font-family: 'Material Icons';
      line-height: 12px;
      -webkit-font-feature-settings: 'liga';
      content: "expand_more";
      font-size: .9rem;
      margin-top: 3px; }
    .subtoolbar a:hover {
      color: rgba(26, 128, 128, 0.54) !important; }

.maintoolbarselect button span {
  text-transform: none;
  font-size: .8rem;
  vertical-align: middle; }

.maintoolbarselect button i.material-icons.ng-scope {
  font-size: 1.5rem;
  vertical-align: middle; }

.notification > span {
  font-size: .75rem;
  top: -.275rem;
  position: relative;
  line-height: 0;
  margin-left: -.6rem; }
  .notification > span > span {
    z-index: 1;
    margin-left: 0.1rem;
    top: -0.1rem;
    position: relative; }

.notification > span i {
  position: absolute;
  top: -.375rem;
  left: -0.375rem;
  font-size: 1.4rem;
  color: #de5c5c;
  z-index: -1; }

.notification-Menu {
  background-color: #e0e0e0;
  padding: 0;
  padding-bottom: 1.5rem; }
  .notification-Menu h3 {
    padding: 0 1.5rem; }
  .notification-Menu md-toolbar {
    margin-bottom: 1rem; }
  .notification-Menu md-menu-item {
    margin: 0.1rem .5rem; }
  .notification-Menu button.md-button {
    background-color: #fafafa;
    border-radius: 6px; }

.filteractive > span {
  font-size: .70rem;
  top: -.275rem;
  position: relative;
  line-height: 0;
  margin-left: -.6rem;
  z-index: 2; }
  .filteractive > span > span {
    z-index: 2;
    margin-left: 0.1rem;
    top: -0.1rem;
    position: relative; }

.filteractive > span i {
  position: absolute;
  top: -.375rem;
  left: -0.395rem;
  font-size: 1.5rem;
  color: #BC8CD6;
  z-index: 1; }

.bulkActions {
  font-size: 0.8rem; }
  .bulkActions md-button {
    text-align: left; }
  .bulkActions md-menu button.md-button {
    text-transform: none;
    color: rgba(0, 0, 0, 0.54); }
    .bulkActions md-menu button.md-button span {
      font-size: 0.8rem;
      font-weight: 400; }
    .bulkActions md-menu button.md-button i.material-icons {
      vertical-align: middle;
      font-size: 17px; }

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important; }

body {
  overflow: hidden; }

h4 {
  margin: 0; }

.truncate {
  overflow: hidden;
  text-overflow: ellipsis; }

a.md-default-theme:not(.md-button), a:not(.md-button) {
  color: inherit;
  cursor: pointer; }

a.md-default-theme:not(.md-button):hover, a:not(.md-button):hover {
  color: #2aadbf; }

md-checkbox {
  margin-bottom: 0; }

.visao-fav md-radio-button ._md-container {
  display: none; }

.visao-fav md-radio-button ._md-label {
  margin-left: 0.5rem;
  color: rgba(0, 0, 0, 0.37);
  top: 0.5rem; }

.visao-fav md-radio-button:hover ._md-label {
  color: rgba(0, 0, 0, 0.54); }

.notificationbar {
  background-color: #f2f2f2; }
  .notificationbar md-card .md-button {
    line-height: 20px;
    padding: 0.5rem 0;
    text-align: center; }
    .notificationbar md-card .md-button h4 {
      font-size: 1rem;
      font-weight: 400;
      margin-top: .8rem;
      margin-left: 1.5rem; }
    .notificationbar md-card .md-button p {
      font-size: 0.8rem;
      font-weight: 300;
      margin-bottom: .6rem;
      margin-left: 1.5rem; }

#task-seemore {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  border-top: 1px solid #ddd;
  padding: 0.8rem 1.2rem;
  box-sizing: border-box;
  outline: none;
  cursor: pointer; }
  #task-seemore a {
    display: block;
    position: relative;
    width: 100%;
    height: 100%; }
  #task-seemore:hover a {
    color: rgba(26, 128, 128, 0.54) !important; }
