@charset 'UTF-8';

@import '../sass/personal_vars.scss';

.list-item{
  background: #f5f5f5;
}
.user-picture{
  position: relative;
  width: 48px;
  height: 48px;
  text-align: center;
  .material-icons{font-size: 48px !important;}
  span{
    position: relative;
    top: -10px;
    color: #f00;
  }
}
