@import '../sass/_personal_vars.scss';
@import '../sass/negociacoes/_filtros.scss';
@import '../sass/negociacoes/_card-negociacao.scss';
@import '../sass/negociacoes/_toolbar.scss';

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
body{
  overflow: hidden;
}
h4{margin: 0;}
.truncate{
  overflow: hidden; text-overflow: ellipsis;
}

a.md-default-theme:not(.md-button), a:not(.md-button){
  color: inherit;
  cursor: pointer;
}

a.md-default-theme:not(.md-button):hover, a:not(.md-button):hover{
  color: rgb(42,173,191);
}

md-checkbox{margin-bottom: 0;}
md-autocomplete{margin-top: 0.6rem; margin-bottom: 0.6rem;}
