@import '../sass/_personal_vars.scss';
@import '../sass/_Main-bar.scss';

//Listagem de Negociacões
@import '../sass/negociacoes/Deals_list/_main-toolbar.scss';
@import '../sass/negociacoes/Deals_list/_sub-toolbar.scss';
@import '../sass/negociacoes/Deals_list/_card-negociacao.scss';
@import '../sass/negociacoes/Deals_list/_filtros.scss';

//Negociação Única
@import '../sass/negociacoes/Deal_detail/_sub-toolbar.scss';

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
body{overflow: hidden;}
h4, h5{margin: 0;}
h5{font-size: .8rem; font-weight: 400;}
.truncate{
  overflow: hidden; text-overflow: ellipsis;
}

a.md-default-theme:not(.md-button), a:not(.md-button){
  color: inherit;
  cursor: pointer;
}

a.md-default-theme:not(.md-button):hover, a:not(.md-button):hover{
  color: rgb(42,173,191);
}

md-checkbox{margin-bottom: 0;}
md-autocomplete{margin-top: 0.6rem; margin-bottom: 0.6rem;}
