@import url(../sass/material-icons/material-icons.css);
@import url(../sass/extensions/mdPickers/mdPickers.css);
.black8 {
  color: rgba(0, 0, 0, 0.87) !important; }

.black5 {
  color: rgba(0, 0, 0, 0.54) !important; }

.black3 {
  color: rgba(0, 0, 0, 0.38) !important; }
  .black3:hover {
    color: rgba(0, 0, 0, 0.54);
    cursor: normal; }

.black1 {
  color: rgba(0, 0, 0, 0.12) !important; }
  .black1:hover {
    color: rgba(0, 0, 0, 0.37);
    cursor: normal; }

.white {
  color: #ffffff !important; }

.white7 {
  color: rgba(255, 255, 255, 0.7) !important; }

.white5 {
  color: rgba(255, 255, 255, 0.5) !important; }

md-tabs.md-plugBlank-theme .md-tab {
  color: rgba(255, 255, 255, 0.7); }

.toolbar-height {
  min-height: 135px;
  padding: .5rem .5rem 0 .5rem; }

.btn-indent md-list-item div.md-button._md-no-style {
  padding: 0 28px; }

.sidebar {
  max-width: 220px;
  box-shadow: 2px 0 10px #4D4D4D; }
  .sidebar md-toolbar {
    background-image: url("../master_img/userbg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-origin: border-box; }
    .sidebar md-toolbar > md-menu {
      margin: 0;
      position: absolute;
      bottom: 0; }
  .sidebar md-list-item {
    height: 42px; }
  @media screen and (min-width: 960px) {
    .sidebar {
      box-shadow: inset -5px 0 15px #cecece; }
      .sidebar md-toolbar {
        box-shadow: inset -5px 0 15px #545454; } }

.searchinput {
  min-width: 240px;
  margin: 0;
  padding: 0;
  color: rgba(255, 255, 255, 0.87); }
  .searchinput input {
    border-color: rgba(255, 255, 255, 0.37);
    color: white; }
  .searchinput md-input-container.md-plugBlank-theme .md-input {
    color: rgba(255, 255, 255, 0.87);
    border-color: rgba(255, 255, 255, 0.3); }

md-input-container.md-plugBlank-theme .md-input {
  color: rgba(255, 255, 255, 0.87);
  border-color: rgba(255, 255, 255, 0.3); }

.notification > span {
  font-size: .75rem;
  top: -.275rem;
  position: relative;
  line-height: 0;
  margin-left: -.6rem; }
  .notification > span > span {
    z-index: 1;
    margin-left: 0.1rem;
    top: -0.1rem;
    position: relative; }

.notification > span i {
  position: absolute;
  top: -.375rem;
  left: -0.375rem;
  font-size: 1.4rem;
  color: #de5c5c;
  z-index: -1; }

.notificationbar {
  background-color: #f2f2f2; }
  .notificationbar md-card {
    box-shadow: none; }
  .notificationbar md-card .md-button {
    line-height: 20px;
    border-radius: 0;
    padding: 0.5rem 0;
    text-align: center; }
    .notificationbar md-card .md-button h4 {
      font-size: .85rem;
      font-weight: 400;
      margin-top: .8rem;
      margin-left: 1.5rem; }
    .notificationbar md-card .md-button p {
      font-size: .7rem;
      font-weight: 300;
      margin-bottom: .6rem;
      margin-left: 1.5rem; }

#task-seemore {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  border-top: 1px solid #ddd;
  padding: 0.8rem 1.2rem;
  box-sizing: border-box;
  outline: none;
  cursor: pointer; }
  #task-seemore a {
    display: block;
    position: relative;
    width: 100%;
    height: 100%; }
  #task-seemore:hover a {
    color: rgba(26, 128, 128, 0.54) !important; }

.maintoolbarselect button span {
  text-transform: none;
  font-size: .8rem;
  vertical-align: middle; }

.maintoolbarselect button i.material-icons.ng-scope {
  font-size: 1.5rem;
  vertical-align: middle; }

.filteractive > span {
  font-size: .70rem;
  top: -.275rem;
  position: relative;
  line-height: 0;
  margin-left: -.6rem;
  z-index: 2; }
  .filteractive > span > span {
    z-index: 2;
    margin-left: 0.1rem;
    top: -0.1rem;
    position: relative; }

.filteractive > span i {
  position: absolute;
  top: -.375rem;
  left: -0.395rem;
  font-size: 1.5rem;
  color: #BC8CD6;
  z-index: 1; }

.subtoolbar {
  outline: 0;
  border-left: 3px solid transparent;
  white-space: nowrap;
  border-bottom: 1px solid #e0e0e0;
  border-top: 1px solid #e0e0e0; }
  .subtoolbar a {
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.54) !important;
    padding-right: 0.6rem;
    box-sizing: content-box;
    display: block;
    margin-left: 1rem; }
    .subtoolbar a::before {
      position: absolute;
      font-family: 'Material Icons';
      line-height: 12px;
      -webkit-font-feature-settings: 'liga';
      content: "expand_more";
      font-size: .9rem;
      margin-top: 3px;
      margin-left: -1rem; }
    .subtoolbar a:hover {
      color: rgba(26, 128, 128, 0.54) !important; }
      .subtoolbar a:hover span {
        color: rgba(26, 128, 128, 0.37); }
    .subtoolbar a span {
      font-size: 0.65rem;
      vertical-align: middle;
      color: rgba(0, 0, 0, 0.37); }
  @media screen and (max-width: 768px) {
    .subtoolbar a {
      min-height: 32px;
      line-height: 32px; }
      .subtoolbar a::after {
        line-height: 32px; }
      .subtoolbar a md-checkbox {
        margin-left: 20px; } }

.bulkActions {
  font-size: 0.8rem; }
  .bulkActions md-button {
    text-align: left; }
  .bulkActions md-menu button.md-button {
    text-transform: none;
    color: rgba(0, 0, 0, 0.54); }
    .bulkActions md-menu button.md-button span {
      font-size: 0.8rem;
      font-weight: 400; }
    .bulkActions md-menu button.md-button i.material-icons {
      vertical-align: middle;
      font-size: 17px; }

.card404 {
  background-image: url("../master_img/lion404.jpg");
  background-position: center center;
  background-size: 400px auto;
  background-repeat: no-repeat; }

md-content {
  background-color: #f9f9f9; }
  @media screen and (max-width: 960px) {
    md-content {
      background-color: #F1F1F1; } }

.table-list {
  min-height: 75px; }
  .table-list:hover, .table-list :focus {
    background-color: #fcfcfc; }
  @media screen and (min-width: 961px) {
    .table-list {
      margin: 0;
      border-bottom: 1px solid #E6E3E3;
      box-shadow: none;
      border-left: 3px solid transparent; } }
  @media screen and (max-width: 959px) {
    .table-list > div {
      margin: 12px 1px; } }
  @media screen and (max-width: 768px) {
    .table-list {
      box-shadow: none;
      border-radius: 0; }
      .table-list > div {
        margin: 12px 5px; }
        .table-list > div:last-of-type {
          margin-right: 11px; }
        .table-list > div:first-of-type {
          margin-left: 18px; } }

.card-red {
  border-left: 3px solid #d53b3b; }
  @media screen and (max-width: 960px) {
    .card-red {
      border-left: 6px solid #d53b3b;
      margin-bottom: 1rem; } }
  @media screen and (max-width: 600px) {
    .card-red {
      border-left: 0;
      border-top: 5px solid #d53b3b;
      margin-bottom: 1rem; } }

.card-green {
  border-left: 3px solid #3BD58F; }
  @media screen and (max-width: 960px) {
    .card-green {
      border-left: 6px solid #3BD58F;
      margin-bottom: 1rem; } }
  @media screen and (max-width: 600px) {
    .card-green {
      border-left: 0;
      border-top: 5px solid #3BD58F;
      margin-bottom: 1rem; } }

.card-yellow {
  border-left: 3px solid #D4BD45; }
  @media screen and (max-width: 960px) {
    .card-yellow {
      border-left: 6px solid #D4BD45;
      margin-bottom: 1rem; } }
  @media screen and (max-width: 600px) {
    .card-yellow {
      border-left: 0;
      border-top: 5px solid #D4BD45;
      margin-bottom: 1rem; } }

.rate md-radio-button ._md-container {
  display: none; }

.rate md-radio-button ._md-label {
  margin-left: 0;
  color: inherit; }

.rate .material-icons {
  font-size: 16px; }

.rate md-icon {
  width: 13px;
  height: 15px;
  min-width: 0;
  min-height: 0; }

.rateBig md-radio-button ._md-container {
  display: none; }

.rateBig md-radio-button ._md-label {
  margin-left: 1rem; }

.rateBig .material-icons {
  font-size: 32px; }

.rateBig md-icon {
  width: 26px;
  height: 30px;
  min-width: 0;
  min-height: 0; }

.userpic .md-avatar {
  margin: 0 auto;
  width: 35px;
  height: auto;
  border-radius: 50%; }

.who md-list-item .md-avatar, .who md-list-item .md-avatar-icon, .who md-list-item ._md-list-item-inner .md-avatar, .who md-list-item ._md-list-item-inner .md-avatar-icon {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px; }

.who md-list-item, .who md-list-item ._md-list-item-inner {
  min-height: 20px; }
  .who md-list-item:nth-child(2), .who md-list-item ._md-list-item-inner:nth-child(2) {
    font-size: .8rem;
    color: rgba(0, 0, 0, 0.37); }

.recorrencia {
  cursor: default; }
  .recorrencia md-list-item > div.md-primary > md-icon:not(.md-avatar-icon), .recorrencia md-list-item > div.md-secondary > md-icon:not(.md-avatar-icon), .recorrencia md-list-item > md-icon:first-child:not(.md-avatar-icon), .recorrencia md-list-item > md-icon.md-secondary:not(.md-avatar-icon), .recorrencia md-list-item ._md-list-item-inner > div.md-primary > md-icon:not(.md-avatar-icon), .recorrencia md-list-item ._md-list-item-inner > div.md-secondary > md-icon:not(.md-avatar-icon), .recorrencia md-list-item ._md-list-item-inner > md-icon:first-child:not(.md-avatar-icon), .recorrencia md-list-item ._md-list-item-inner > md-icon.md-secondary:not(.md-avatar-icon) {
    width: auto;
    margin-top: 3px;
    margin-bottom: 0;
    min-height: 0; }
  .recorrencia md-list-item > p {
    font-size: 0.9rem; }
  .recorrencia span {
    color: rgba(0, 0, 0, 0.54);
    font-size: 0.65rem;
    margin-left: 10px; }
  .recorrencia p span {
    color: inherit;
    font-size: 0.65rem;
    vertical-align: top;
    margin-left: 0; }
  .recorrencia md-list-item > md-icon:first-child:not(.md-avatar-icon), .recorrencia md-list-item ._md-list-item-inner > md-icon:first-child:not(.md-avatar-icon) {
    margin-right: -10px;
    font-size: .6rem;
    margin-top: -1px; }
  .recorrencia md-list-item, .recorrencia md-list-item ._md-list-item-inner {
    min-height: 21px; }
  .recorrencia md-icon {
    height: auto; }

.tarefas a > md-list-item > md-icon {
  margin: 0; }

.late {
  color: #e7c94b; }

.danger {
  color: #c83a3a; }

.purple {
  color: #9d48cb; }

.blue {
  color: #29B6F6; }

.green {
  color: #48c47a; }

.orange {
  color: #ec9b2f; }

.progress {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 145px; }

.progress li {
  height: 18px;
  white-space: nowrap;
  position: relative;
  line-height: 19px;
  color: #1dc2e7; }
  .progress li:first-of-type {
    margin-left: 1rem; }
  .progress li svg {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: -0.7rem;
    margin-top: 0px;
    stroke: #1dc2e7;
    stroke-width: 3;
    width: 100%; }
  .progress li:after {
    font-family: 'Material Icons';
    -webkit-font-feature-settings: 'liga';
    content: "fiber_manual_record";
    font-size: 0.7rem;
    position: absolute;
    right: .35rem;
    cursor: pointer;
    z-index: 2; }

.funil-past-days li:hover::before {
  position: absolute;
  top: -1rem;
  margin-left: .2rem;
  font-size: .8rem;
  color: rgba(0, 0, 0, 0.37);
  content: '5d'; }
  .funil-past-days li:hover::before:first-of-type {
    margin-left: 1rem; }

.funil-past-days li:hover:first-of-type::before {
  margin-left: -1.2rem; }

.funil-past-days li.active::before {
  position: absolute;
  top: -1rem;
  margin-left: .2rem;
  font-size: .8rem;
  color: rgba(0, 0, 0, 0.37);
  content: '5d'; }

.funil-past-days li.active:first-of-type::before {
  margin-left: -1.2rem; }

.progress li.active svg {
  stroke: #1dc2e7;
  transition: 0.25s ease; }

.progress li.active:after {
  transition: 0.2s ease;
  font-size: 1.2rem;
  right: 0; }

.progress li.active ~ li {
  color: #ababab; }
  .progress li.active ~ li svg {
    stroke: #aaaaaa; }

.card-info li {
  list-style: none; }

.filterpull .innerfilters md-menu > md-list > md-list-item > div > div > div.md-list-item-text {
  margin-left: -12px; }

.filterpull .innerfilters md-list-item > md-icon:first-child:not(.md-avatar-icon) {
  margin-right: 12px;
  margin-left: 11px; }

.filterpull .innerfilters md-list > md-list-item > md-input-container {
  margin-bottom: 0;
  width: 100%;
  padding-right: 2rem;
  margin-bottom: .4rem; }

.filterpull .innerfilters md-list > md-list-item {
  padding: 0;
  margin-bottom: .4rem; }
  .filterpull .innerfilters md-list > md-list-item > div h3 {
    margin-left: 0; }
  .filterpull .innerfilters md-list > md-list-item > div md-datepicker button.md-datepicker-button {
    margin-left: 0;
    padding-left: 0; }

.innermenus {
  box-shadow: 2px 2px 10px #B3B3B3;
  margin-top: -100px;
  max-height: 565px; }
  .innermenus md-menu-item > md-icon {
    width: 24px;
    padding-right: 0;
    pointer-events: none; }

#containerForResults {
  overflow-y: scroll;
  max-height: 390px; }

.savefilter {
  background: #fafafa;
  padding-top: 1rem; }

.Deal-sub-toolbar h5 {
  margin-bottom: 1.2rem; }

.historico {
  padding: 2rem; }
  @media screen and (max-width: 600px) {
    .historico {
      padding: 5px; } }

.char-counter-hack .md-errors-spacer {
  position: absolute;
  bottom: 0;
  right: 0; }

.contact-chip md-chips-wrap {
  box-shadow: none; }

.contact-chip md-chip {
  outline: 0; }
  .contact-chip md-chip:hover {
    opacity: .6; }

.separador {
  margin: 2rem 0 .2rem 0 !important; }
  .separador > md-icon {
    margin-right: 1rem; }
  .separador > div {
    background-image: url("/master_img/dash.svg");
    width: 100%;
    height: 1px;
    background-position: center center;
    background-repeat: repeat; }

.deal-previsao > div {
  margin-right: 24px; }

.deal-previsao button {
  display: none; }

.deal-previsao .md-datepicker-input-container {
  margin-left: 0; }
  .deal-previsao .md-datepicker-input-container button {
    display: block; }

.Deal_detail h3 {
  margin: 0 0 1.4rem 0; }

.Deal_detail > div {
  margin-bottom: 28px; }
  .Deal_detail > div:first-of-type {
    margin-bottom: 18px; }
    .Deal_detail > div:first-of-type .md-button {
      padding: 0 !important;
      line-height: 0; }
    .Deal_detail > div:first-of-type .md-list-item-text h3 {
      margin: 0; }
  .Deal_detail > div.custom-select {
    margin-bottom: 21px; }
    .Deal_detail > div.custom-select button {
      padding: 0;
      margin: 0; }
  .Deal_detail > div > md-input-container {
    margin-top: 2.4rem; }
    .Deal_detail > div > md-input-container > label {
      font-size: 1rem;
      color: rgba(0, 0, 0, 0.54); }

.collapsible {
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  margin: 5px -12px 5px -12px;
  list-style: none;
  box-sizing: border-box; }

.collapsible-header {
  cursor: pointer;
  line-height: 48px;
  padding: .4rem .4rem .5rem 1.5rem;
  background-color: #fff;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: stretch;
  border-bottom: 2px solid #eee; }
  .collapsible-header > div {
    height: 48px; }
    .collapsible-header > div h6 {
      line-height: 32px;
      white-space: nowrap; }
    .collapsible-header > div p {
      line-height: 6px;
      margin-top: 0; }
    .collapsible-header > div:first-of-type {
      width: 130px; }
      .collapsible-header > div:first-of-type md-icon {
        margin-right: .6rem;
        margin-left: 0; }
      .collapsible-header > div:first-of-type > div {
        margin-right: 1rem; }

.task-check {
  position: relative;
  height: 48px;
  width: 100%; }
  .task-check md-fab-speed-dial {
    top: 0;
    right: 1px;
    left: auto;
    bottom: auto;
    position: absolute; }
  .task-check .md-button.md-fab {
    line-height: 48px;
    width: 48px;
    height: 48px;
    box-shadow: none;
    display: none; }
  .task-check button.md-warn.md-fab:not([disabled]):hover, .task-check button.md-warn.md-fab:not([disabled]):focus {
    background: none;
    display: none; }

.collapsible-body {
  display: none;
  border-bottom: 1px solid #ddd;
  box-sizing: border-box; }
  .collapsible-body p {
    margin: 0;
    padding: 2rem; }

.collapsible.popout {
  border: none;
  box-shadow: none; }
  .collapsible.popout > li {
    box-shadow: 0px 1px 5px -1px rgba(0, 0, 0, 0.37);
    margin: 0 12px;
    transition: margin 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94); }
  .collapsible.popout > li.active {
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.18);
    margin: 6px 0; }

.drop-btn-truncate {
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  display: flex;
  padding: 0;
  margin: 0;
  min-height: auto;
  line-height: inherit; }
  .drop-btn-truncate.md-button.md-default-theme:not([disabled]):hover, .drop-btn-truncate.md-button:not([disabled]):hover {
    background-color: inherit;
    color: #2aadbf; }

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important; }

body {
  height: 100%;
  position: relative; }

ui-view {
  height: 100%; }

h4, h5, h6 {
  margin: 0; }

h5 {
  font-size: .8rem;
  font-weight: 400; }

.truncate {
  overflow: hidden;
  text-overflow: ellipsis; }

a.md-default-theme:not(.md-button), a:not(.md-button) {
  color: inherit;
  cursor: pointer; }

ul {
  margin: 0;
  padding: 0; }

a.md-default-theme:not(.md-button):hover, a:not(.md-button):hover {
  color: #2aadbf; }

md-checkbox {
  margin-bottom: 0; }

md-autocomplete {
  margin-top: 0.6rem;
  margin-bottom: 0.6rem; }

.detail-deal {
  height: 100%; }

.detail-deal > md-content {
  height: calc(100% - 249px); }

.criar-anotacao {
  margin: 0;
  border-radius: 0; }
  .criar-anotacao md-input-container {
    margin-top: 0; }
  .criar-anotacao textarea {
    transition: .2s ease;
    border-bottom: 0;
    height: 100px !important;
    padding: 0 20px; }
    .criar-anotacao textarea label {
      position: absolute;
      top: 0; }
  .criar-anotacao md-content {
    background: white; }

.editable:hover::after {
  position: absolute;
  font-family: 'Material Icons';
  line-height: 1.2rem;
  -webkit-font-feature-settings: 'liga';
  content: "create";
  font-size: 1.2rem;
  margin-left: .6rem; }

.fieldContainer {
  margin: 0;
  padding: 3px 0;
  position: relative; }
  .fieldContainer md-input-container {
    width: 100%; }
  .fieldContainer textarea {
    padding: 6px 12px; }
  .fieldContainer .contact-chip md-chips-wrap {
    margin: 0 12px; }
  .fieldContainer .md-char-counter {
    margin-right: 12px; }
  .fieldContainer md-list-item.md-2-line {
    margin: 0 12px; }
  .fieldContainer md-card {
    margin: 0 12px; }

.ntask-heading {
  margin-top: 1rem;
  margin-bottom: .4rem; }

#empty-tasks {
  background-image: url("/master_img/no_tasks.gif");
  background-position: right -90px;
  background-size: auto 250px;
  background-repeat: no-repeat;
  height: 150px;
  width: 100%; }
  #empty-tasks h1 {
    position: absolute;
    top: 110px;
    left: 3rem; }
