<md-bottom-sheet class="md-list md-has-header" ng-cloak>
  <md-subheader>Comment Actions</md-subheader>
  <md-list>
    <md-list-item>
      <md-button
          ng-click="null"
          class="md-list-item-content" >
        <md-icon md-menu-origin md-font-icon="material-icons ">info_outline</md-icon>
        <span class="md-inline-list-icon-label">Sample data</span>
      </md-button>
    </md-list-item>
    <md-list-item>
      <md-button
          ng-click="null"
          class="md-list-item-content" >
        <md-icon md-menu-origin md-font-icon="material-icons ">info_outline</md-icon>
        <span class="md-inline-list-icon-label">Sample data</span>
      </md-button>
    </md-list-item>
    <md-list-item>
      <md-button
          ng-click="null"
          class="md-list-item-content" >
        <md-icon md-menu-origin md-font-icon="material-icons ">info_outline</md-icon>
        <span class="md-inline-list-icon-label">Sample data</span>
      </md-button>
    </md-list-item>
    <md-list-item>
      <md-button
          ng-click="null"
          class="md-list-item-content" >
        <md-icon md-menu-origin md-font-icon="material-icons ">info_outline</md-icon>
        <span class="md-inline-list-icon-label">Sample data</span>
      </md-button>
    </md-list-item>
  </md-list>
</md-bottom-sheet>
