<!DOCTYPE html>
<html lang="pt-br" >
<head>
<!-- General Meta -->
    <meta charset="UTF-8" />
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">
		<title>PlugCRM {Inbox}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link rel="apple-touch-icon" sizes="57x57" href="/master_img/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/master_img/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/master_img/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/master_img/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/master_img/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/master_img/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/master_img/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/master_img/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/master_img/favicons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/master_img/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/master_img/favicons/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/master_img/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/master_img/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/master_img/favicons/manifest.json">
    <link rel="mask-icon" href="/master_img/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#fafafa">
    <meta name="msapplication-TileImage" content="/master_img/favicons/mstile-144x144.png">
    <meta name="theme-color" content="#fafafa">

	<!-- Regular CSS & JS Includes -->
	<link href='https://fonts.googleapis.com/css?family=Roboto:300,500,900,100,100italic,300italic,400,400italic,500italic,700,700italic,900italic' rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="sass/angular-material/angular-material.css">
	<link type="text/css" rel="stylesheet" href="sass/main.css" />
</head>

<body ng-app="PlugDawnbreak" ng-controller="MyController" ng-cloak >

<ui-view tabIndex="1" role="main" layout="row" style="height: 100%" >
  <md-sidenav ng-include="'/includes/sidebar.tmpl.html'" flex="noshrink" layout="column" md-component-id="left" class="md-sidenav-left sidebar" tabIndex="-2" md-is-locked-open="$mdMedia('gt-sm')"></md-sidenav>
  <md-sidenav ng-include="'/includes/notifications.tmpl.html'" class="md-sidenav-right md-whiteframe-5dp notificationbar" md-disable-backdrop="true" md-component-id="notificationbar"></md-sidenav>
  <md-sidenav ng-include="'/includes/deals_list/deals_filters.tmpl.html'" class="md-sidenav-right md-whiteframe-3dp filterpull" md-disable-backdrop="true" md-component-id="right"></md-sidenav>
<div layout="column" flex>
  <md-toolbar flex="none" class="internal-header md-theme-light toolbar-height" >
    <div ng-include="'/includes/deals_list/deals_toolbar.tmpl.html'"></div>
  </md-toolbar>

  <div ng-include="'/includes/deals_list/deals_subtoolbar.tmpl.html'" layout-wrap layout="row" layout-align="start center" layout-align-sm="space-between center" layout-align-md="space-around center" ng-show="!showBar" class="subtoolbar" style="min-height: 44px;"></div>
  <div ng-include="'/includes/deals_list/deals_Bulktoolbar.tmpl.html'" ng-show="showBar" layout="row" layout-align="start center" layout-wrap class="bulkActions" style="min-height: 54px; border-bottom: 1px solid #ddd; border-top: 1px solid #eee; " ng-controller="ModalCtrl"></div>


  <md-content layout-fill ui-view flex>
  <div>
    <md-card layout-wrap class="table-list card-red" layout="row" layout-align="start center" layout-align-xs="space-around start" layout-align-sm="space-between start" layout-align-md="space-around center">
      <div layout-align="center center" layout="row"  flex-gt-sm="5">
        <div><md-checkbox aria-label="check" ng-model="check" ng-click="showBar = !showBar"></md-checkbox></div>
      </div>

      <div flex-gt-sm="10" layout-align="center center">
            <div class="userpic">
            <img class="md-avatar" src="master_img/dummy_square.png">
            <!-- IF THERE IS NO IMAGE :::: <md-icon class="md-avatar-icon material-icons" >image</md-icon> -->
            </div>
      </div>

      <div flex="none" flex-gt-sm="20" layout-align="start center" >
          <md-list class="who">
            <md-list-item >
            <a ><span class="truncate">Louis Lourence</span></a>
            </md-list-item>
            <md-list-item>
            <a ><span class="truncate"><span class="truncate">Inside Sails</span></a>
            </md-list-item>
          </md-list>
      </div>

      <div flex="none" flex-gt-sm="10" layout="row" layout-align="start center">
          <md-radio-group class="rate">
            <md-radio-button value="Poor"><md-tooltip>Pobre</md-tooltip><md-icon class="material-icons md-primary">star</md-icon></md-radio-button>
            <md-radio-button value="Hopeless"><md-tooltip>Sem esperança</md-tooltip><md-icon class="material-icons md-primary">star</md-icon></md-radio-button>
            <md-radio-button value="Kind of good"><md-tooltip>Mai ô menos</md-tooltip><md-icon class="material-icons md-primary">star</md-icon></md-radio-button>
            <md-radio-button value="Awesome"><md-tooltip>Bacana</md-tooltip><md-icon class="material-icons md-discrete">star</md-icon></md-radio-button>
            <md-radio-button value="DUUUDE, Marry me!"><md-tooltip>NOOOOSSSA !!</md-tooltip><md-icon class="material-icons md-discrete">star</md-icon></md-radio-button>
          </md-radio-group>
      </div>

      <div flex="none" flex-gt-sm="20" layout="row" layout-align="center center">
          <ol layout="row" class="progress">
            <li flex="none"><md-tooltip>Prospect</md-tooltip><svg height="3"><line x1="0" y1="0" x2="100" y2="0" /></svg></li>
            <li flex class="active"><md-tooltip>Primeiro Contato</md-tooltip><svg height="3" width="100"><line x1="0" y1="0" x2="100" y2="0" /></svg></li>
            <li flex><md-tooltip>Proposta Apresentada</md-tooltip><svg height="3"><line x1="0" y1="0" x2="100" y2="0" /></svg></li>
            <li flex><md-tooltip>Aguardando resposta</md-tooltip><svg height="3"><line x1="0" y1="0" x2="100" y2="0" /></svg></li>
            <li flex><md-tooltip>Conversando</md-tooltip><svg height="3"><line x1="0" y1="0" x2="100" y2="0" /></svg></li>
            <li flex><md-tooltip>A quick brown fox jumps over the lazy dog, meanwhile, the grumpy wizards make toxic brew for the evil Queen and Jack.</md-tooltip><svg height="3"><line x1="0" y1="0" x2="100" y2="0" /></svg></li>
            <li flex><md-tooltip>Fechamento</md-tooltip><svg height="3"><line x1="0" y1="0" x2="100" y2="0" /></svg></li>
          </ol>
      </div>

      <div flex="none" flex-gt-sm="15" layout="row" layout-align="start center">
        <md-list class="recorrencia">
          <md-list-item style="min-width:90px;">
          <md-icon class="material-icons md-primary"><md-tooltip>Unicos</md-tooltip>lens</md-icon>
          <p class="truncate" style="white-space: nowrap;">R$ 12.338,<span>00</span></p>
          </md-list-item>
          <md-list-item style="min-width:90px;">
          <md-icon class="material-icons"><md-tooltip>Recorrentes</md-tooltip>lens</md-icon>
          <p class="truncate" style="white-space: nowrap;">R$ 1200,<span>00</span></p>
          </md-list-item>
        </md-list>
      </div>

      <div flex="none" flex-gt-sm="15" class="tarefas" >
        <a><md-list-item class="md-2-line">
          <md-icon hide-sm hide-md class="md-avatar-icon material-icons danger">phone</md-icon>
          <div class="md-list-item-text" layout="column">
            <h3>Reunião</h3>
            <p class="danger">Ontem, às 13 horas</p>
          </div>
        </md-list-item>
        </a>
      </div>

      <div ng-controller="PtM"  flex="none" flex-gt-sm="5" layout="row" layout-align="end center">
        <md-button class="md-icon-button" ng-click="showGridBottomSheet()">
          <md-icon  md-font-icon="material-icons ">info_outline</md-icon>
        </md-button>
      </div>
    </md-card>
  </div> <!--close card -->
  </md-content>

</div>

</ui-view>

<div ng-include="'/includes/deals_list/deals_fab.tmpl.html'"></div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<!-- Angular Material requires Angular.js Libraries -->
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

<!-- Angular Material Library -->
<script src="sass/angular-material/angular-material.js"></script>

<!-- Your application bootstrap  -->
<script type="text/javascript" src="js/app_config.js"></script>

<!-- Other Functionalities for angular activities -->
<script type="text/javascript" src="js/funil_select.js"></script>
<script type="text/javascript" src="sass/extensions/mdPickers/mdPickers.js"></script>
<!-- Script for nice and ease-scroll for things like scrollspy <script type="text/javascript" src="js/smoothscroll.min.js"></script> -->
</body>
</html>
