<!DOCTYPE html>
<html lang="pt-br" ng-app="PlugDawnbreak">
<head>
<!-- General Meta -->
    <meta charset="UTF-8" />
    <meta http-equiv="content-language" content="pt-br">
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">
		<title>PlugCRM {Dawnbreak}</title>
		<meta name="author" content="PlugCRM" />
          <!-- Favicon and others -->
						<!-- O image tile é .PNG 144x144px transparente -->
						<meta name="msapplication-TileImage" content="img/tile.png"/>
						<meta name="msapplication-TileColor" content="#4285F4"/>
						<!-- Opera Speed Dial Favicon -->
						<link rel="icon" type="image/png" href="/speeddial-160px.png" />
						<!-- Standard Favicon -->
						<!--[if IE]><link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico"><![endif]-->
						<link rel="icon" type="image/x-icon" href="/favicon.ico" />
						<link rel="icon" type="image/png" href="favicon-16.png" sizes="16x16">
						<link rel="icon" type="image/png" href="favicon-32.png" sizes="32x32">
						<link rel="icon" type="image/png" href="favicon-48.png" sizes="48x48">
						<link rel="icon" type="image/png" href="favicon-64.png" sizes="64x64">
						<link rel="icon" type="image/png" href="favicon-128.png" sizes="128x128">
						<!-- iPad iOS7+ com Retina Display -->
						<link rel="apple-touch-icon" sizes="152x152" href="apple-touch-icon-152x152.png">
						<!-- iPad iOS7- com Retina Display -->
						<link rel="apple-touch-icon" sizes="144x144" href="apple-touch-icon-144x144.png">
						<!-- iPhone iOS7+ com Retina Display -->
						<link rel="apple-touch-icon" sizes="120x120" href="apple-touch-icon-120x120.png">
						<!-- iPhone iOS7- com Retina Display -->
						<link rel="apple-touch-icon" sizes="114x114" href="apple-touch-icon-114x114.png">
						<!-- iPad iOS7+ sem retina display e iPad Mini-->
						<link rel="apple-touch-icon" sizes="76x76" href="apple-touch-icon-76x76.png">
						<!-- iPad iOS7- sem retina display  -->
						<link rel="apple-touch-icon" sizes="72x72" href="apple-touch-icon-72x72.png">
						<!-- iPhone iOS7-, iPod Touch e Android 2.2+  -->
						<link rel="apple-touch-icon" href="apple-touch-icon.png">
          <!--end Favicon and others -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="reply-to" content="diego.cante@plugcrm.net">
    <meta name="author" content="Christhopher Lion">
    <meta name="fragment" content="!">
    <base href="/" />
    <!-- Responsive meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-status-bar-style" content="lightblue">
    <!-- Semantic meta -->
    <meta name="description" content="Plataforma PlugCRM" />
    <meta name="keywords" content="Plug CRM app" />
    <!-- Facebook meta -->
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="pt-BR">
    <meta property="og:locale:alternate" content="en_UK" />
    <meta property="og:locale:alternate" content="es_ES" />
    <meta property="fb:app_id" content="{{facebookAppId}}">
    <meta property="og:site_name" content="{{page_title}}" />
    <meta property="og:title" content="{{title}}" />
    <meta property="og:description" content="{{description}}" />
    <meta property="og:url" content="{{url}}" />
        <!-- if there is Image -->
    <meta property="og:image" content="/img/brand/logo.png" />
    <meta property="og:image:type" content="image/jpeg">
    <meta property="og:image:width" content="800">
    <meta property="og:image:height" content="600">
         <!-- if there is video -->
    <meta property="og:video" content="{{video_url}}" />
    <meta property="og:video:type" content="application/x-shockwave-flash" />
    <meta property="og:video:width" content="400" />
    <meta property="og:video:height" content="300" />
        <!-- If there is Audio -->
    <meta property="og:audio" content="{{Audio_Url}}" />
    <meta property="og:audio:type" content="audio/mpeg" />
    <!-- Twitter meta -->
    <meta property="twitter:title" content="{{title}}" />


	<!-- Regular CSS & JS Includes -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
	<link href='https://fonts.googleapis.com/css?family=Roboto:300,500,900,100,100italic,300italic,400,400italic,500italic,700,700italic,900italic' rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!-- <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css"> -->
  <link type="text/css" rel="stylesheet" href="/Users/lion/plug2.0/sass/angular-material.nested.css" />
	<link type="text/css" rel="stylesheet" href="/Users/lion/plug2.0/sass/main.css.min.css" />
</head>
<body layout="row" layout-align="start strech" ng-controller="MyController">

	<md-sidenav flex="noshrink" style="max-width:300px"  layout="column" md-component-id="left" class="md-sidenav-left" md-is-locked-open="$mdMedia('gt-md')" >
			  <md-toolbar flex="none" class="md-primary md-hue-1 user-toolbar" layout="column" layout-padding style="background-image: url(/Users/lion/plug2.0/master_img/userbg.jpg);">
          <img src="/Users/lion/plug2.0/master_img/brand.png" width="72px" alt="logo" />
          <md-list-item class="md-2-line" style="padding:0">
            <img src="/Users/lion/plug2.0/master_img/dummy_square.png" class="md-avatar" alt="avatar" />
              <div class="md-list-item-text">
                <h3>Christhopher Lion</h3>
                <md-input-container>
                <md-select placeholder="lion@stormcloud.me" ng-model="usermail" class="md-caption ">
    			       <md-option> lion@stormcloud.me </md-option>
                  <md-option> christhopher.leao@plugcrm.net </md-option>
    			    	</md-select></md-input-container>
              </div>
          </md-list-item>
			  </md-toolbar>
    <div layout-align="space-around center" layout-padding>
        <md-list-item ng-click="#">
          <md-icon md-font-icon="material-icons ">work</md-icon>
          <p> Negociações </p>
        </md-list-item>
        <md-list-item ng-click="#">
          <md-icon md-font-icon="material-icons ">location_city</md-icon>
          <p> Organizações </p>
        </md-list-item>
        <md-list-item ng-click="#">
          <md-icon md-font-icon="material-icons ">contacts</md-icon>
          <p> Contatos </p>
        </md-list-item>
        <md-list-item ng-click="#">
          <md-icon md-font-icon="material-icons ">assignment</md-icon>
          <p> Tarefas </p>
        </md-list-item>
        <md-list-item ng-click="#">
          <md-icon md-font-icon="material-icons ">insert_chart</md-icon>
          <p> Relatórios </p>
        </md-list-item>
        <md-list-item ng-click="#">
          <md-icon md-font-icon="material-icons ">dashboard</md-icon>
          <p> Plug Live </p>
        </md-list-item>
    </div>
    <span flex></span>
    <div layout-align="space-around center" layout-padding>
        <md-list-item ng-click="#">
          <md-icon md-font-icon="material-icons ">settings</md-icon>
          <p> Configurações </p>
        </md-list-item>
        <md-list-item ng-click="#">
          <md-icon md-font-icon="material-icons ">help</md-icon>
          <p> Ajuda </p>
        </md-list-item>
    </div>
</md-sidenav>


<div layout="column" layout-fill>

	<md-toolbar flex="noshrink" class="internal-header" layout-padding layout"column">
      <div class="md-toolbar-tools" layout="row">
				<md-button class="md-icon-button" aria-label="Navigation" ng-click="openLeftMenu()" ng-controller="MyController">
					<md-icon md-font-icon="material-icons ">menu</md-icon>
				</md-button>
        <span flex></span>
        <md-input-container md-no-float class="md-block">
        <md-icon md-font-icon="material-icons ">search</md-icon>
        <input ng-model="search" type="text" placeholder="Phone Number">
        </md-input-container>

        <md-button class="md-icon-button" aria-label="Notifications" ng-click="#">
          <md-icon md-font-icon="material-icons ">notifications</md-icon>
        </md-button>
      </div>

      <div class="md-toolbar-tools" flex="grow" layout-align="space-between center">
        <h1 >Negociações</h1>
      </div>


		<div layout="row" layout-xs="column" layout-align="space-between center" class="md-toolbar-tools-bottom" >
      <md-input-container flex="none"  class="md-subhead ">
        <md-select placeholder="Negociacoes" ng-model="user">
          <md-option ng-value="user">Negocieacos</md-option>
        </md-select>
      </md-input-container>
      <md-input-container flex="none" class="md-subhead " >
        <md-select placeholder="Negociacoes" ng-model="user">
          <md-option ng-value="user">Negocieacos</md-option>
          <md-option ng-value="user">Negocieacos</md-option>
        </md-select>
      </md-input-container>
        <md-input-container flex="none" class="md-subhead " >
          <md-select placeholder="Negociacoes" ng-model="user">
            <md-option ng-value="user">Negocieacos</md-option>
            <md-option ng-value="user">Negocieacos</md-option>
            <md-option ng-value="user">Negocieacos</md-option>
          </md-select>
        </md-input-container>
				<span flex></span>
					<md-button class="md-icon-button" aria-label="Favorite" ng-click="#">
						<md-icon md-font-icon="material-icons">filter_list</md-icon>
	        </md-button>
		</div>
	</md-toolbar>

  <div class="subtoolbar" layout-margin flex="none" layout="row" layout-align="start stretch" style="border-left: 3px solid transparent">
        <md-checkbox ng-model="check" aria-label="Checkbox 1"></md-checkbox>
         <md-button  class="md-caption truncate" ng-click="#" aria-label="Settings" style="width: 50px">
           Responsável
         </md-button>
         <md-button flex="15" class="md-caption" ng-click="#" aria-label="Settings">
           Negociação
         </md-button>
         <md-button flex="15" class="md-caption" ng-click="#" aria-label="Settings">
           Avaliação
         </md-button>
         <md-button flex="15" class="md-caption" ng-click="#" aria-label="Settings">
           recorrencia
         </md-button>
         <md-button flex="20" class="md-caption" ng-click="#" aria-label="Settings">
           Etapa do Funil
         </md-button>
         <md-button flex="15" class="md-caption" ng-click="#" aria-label="Settings">
           Tarefas
         </md-button>
         <md-button class="md-icon-button" aria-label="Favorite" ng-click="#">
           <md-icon md-font-icon="material-icons">view_list</md-icon>
         </md-button>
  </div>
<md-content layout="column" layout-wrap layout-fill>


<md-card class="table-list" flex="none" layout="row" layout-sm="column" layout-xs="column"  layout-align="start center" layout-align-xs="space-around none" layout-align-sm="center center" >
<div flex="none" layout-align-sm="center center" layout-margin>
  <md-checkbox  ng-model="check" aria-label="Checkbox 1"></md-checkbox>
</div>

<div layout-align="space-between center" layout="row" layout-padding  flex="20" flex-sm="90">
  <div>
    <md-list >
      <md-list-item>
      <img class="md-avatar" src="/Users/lion/plug2.0/master_img/dummy_square.png">
      <!-- IF THERE IS NO IMAGE :::: <md-icon class="md-avatar-icon material-icons" >image</md-icon> -->
      </md-list-item>
    </md-list>
  </div>
  <div flex="80">
    <md-list class="who">
      <md-list-item>
      <span class="truncate">Louis Laurence</span>
      </md-list-item>
      <md-list-item>
      <span class="truncate">Inside Sails</span>
      </md-list-item>
    </md-list>
  </div>
</div>

  <div flex="30" layout="row" layout-align="space-between center">
    <div flex="50">
      <md-radio-group ng-model="rating" class="rate">
        <md-radio-button value="Poor"><md-icon class="material-icons md-primary">star</md-icon></md-radio-button>
        <md-radio-button value="Hopeless"><md-icon class="material-icons md-primary">star</md-icon></md-radio-button>
        <md-radio-button value="Kind of good"><md-icon class="material-icons md-primary">star</md-icon></md-radio-button>
        <md-radio-button value="Awesome"><md-icon class="material-icons md-discrete">star</md-icon></md-radio-button>
        <md-radio-button value="DUUUDE, Marry me!"><md-icon class="material-icons md-discrete">star</md-icon></md-radio-button>
      </md-radio-group>
    </div>
    <md-list flex="50" class="recorrencia">
      <md-list-item style="min-width:150px;">
      <md-icon class="material-icons md-primary">fiber_manual_record</md-icon>
      <p class="truncate">R$ 12.338,<span>00</span></p><span class="truncate">únicos</span>
      </md-list-item>
      <md-list-item style="min-width:150px;">
      <md-icon class="material-icons">fiber_smart_record</md-icon>
      <p class="truncate">R$ 1200,<span>00</span></p><span class="truncate">recorrentes</span>
      </md-list-item>
    </md-list>
  </div>
  <div flex="20" layout-padding >
    <md-slider flex class="md-primary" md-discrete ng-model="funil" step="1" min="1" max="7" aria-label="rating"></md-slider>
  </div>
  <div flex="20" class="tarefas" layout="row" layout-align="space-around center" >
    <div flex="none">
      <md-icon class="material-icons md-primary">phone</md-icon>
    </div>
    <md-list>
      <md-list-item>
        <span>Reunião</span>
      </md-list-item>
      <md-list-item>
        <span>Ontem, às 13 horas</span>
      </md-list-item>
    </md-list>
    <md-menu md-position-mode="target-right target" >
          <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
            <md-icon md-menu-origin md-font-icon="material-icons ">more_vert</md-icon>
          </md-button>
          <md-menu-content width="4" >
            <md-menu-item>
              <md-button ng-click="ctrl.announceClick($index)">
                  <div layout="row" flex>
                    <p flex>Option</p>
                    <md-icon md-menu-origin md-font-icon="material-icons ">home</md-icon>
                  </div>
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-click="ctrl.announceClick($index)">
                  <div layout="row" flex>
                    <p flex>Option</p>
                    <md-icon md-menu-origin md-font-icon="material-icons ">home</md-icon>
                  </div>
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-click="ctrl.announceClick($index)">
                  <div layout="row" flex>
                    <p flex>Option</p>
                    <md-icon md-menu-origin md-font-icon="material-icons ">home</md-icon>
                  </div>
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
  </div>

</md-card>



</md-content>

<md-fab-toolbar md-open="demo.isOpen" md-direction="left">
    <md-fab-trigger class="align-with-text">
      <md-button aria-label="menu" class="md-fab md-secondary">
        <md-icon md-font-icon="material-icons ">add</md-icon>
      </md-button>
    </md-fab-trigger>
    <md-toolbar>
      <md-fab-actions class="md-toolbar-tools">
        <md-button aria-label="comment" class="md-icon-button">
          <md-icon md-font-icon="material-icons ">account_circle</md-icon>
        </md-button>
        <md-button aria-label="label" class="md-icon-button">
          <md-icon md-font-icon="material-icons ">account_circle</md-icon>
        </md-button>
        <md-button aria-label="photo" class="md-icon-button">
          <md-icon md-font-icon="material-icons ">account_circle</md-icon>
        </md-button>
      <p class="md-caption">
        Keep this this organized and fill with cool stuff! :D
      </p>
      </md-fab-actions>
    </md-toolbar>
  </md-fab-toolbar>


</div> <!-- End Main Cointainer -->











	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
	<!-- Angular Material requires Angular.js Libraries -->
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>

	<!-- Angular Material Library -->
	<script src="/Users/lion/plug2.0/js/angular-material.min.js"></script>

	<!-- Your application bootstrap  -->
	<script type="text/javascript">
	angular.module('PlugDawnbreak', ['ngMaterial']);
	var app = angular.module('PlugDawnbreak', ['ngMaterial']);
	app.controller('MyController', function($scope, $mdSidenav) {
	  $scope.openLeftMenu = function() {
	    $mdSidenav('left').toggle();
	  };
	});
	</script>

	<!-- Script for nice and ease scroll in scrollspy <script type="text/javascript" src="/Users/lion/plug2.0/js/smoothscroll.min.js"></script> -->
</body>
</html>
