<!DOCTYPE html>
<html lang="pt-br" >
<head>
<!-- General Meta -->
    <meta charset="UTF-8" />
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">
		<title>PlugCRM {Inbox}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">


	<!-- Regular CSS & JS Includes -->
	<link href='https://fonts.googleapis.com/css?family=Roboto:300,500,900,100,100italic,300italic,400,400italic,500italic,700,700italic,900italic' rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="sass/angular-material/angular-material.css">
	<link type="text/css" rel="stylesheet" href="sass/main.css" />
</head>
<body ng-app="PlugDawnbreak" layout="row" ng-controller="MyController" ng-cloak >
<md-sidenav ng-include="'/includes/sidebar.tmpl.html'" flex="noshrink" layout="column" md-component-id="left" class="md-sidenav-left sidebar" tabIndex="-2" md-is-locked-open="$mdMedia('gt-sm')"></md-sidenav>
<md-sidenav ng-include="'/includes/notifications.tmpl.html'" class="md-sidenav-right md-whiteframe-5dp notificationbar" md-disable-backdrop="true" md-component-id="notificationbar"></md-sidenav>
<ui-view tabIndex="1" role="main" layout-fill>

<md-toolbar flex="none" class="internal-header md-theme-light toolbar-height" >
  <div ng-include="'/includes/deal/toolbar.tmpl.html'"></div>
</md-toolbar>

<md-subhead style="background-color: #fff" layout="row" class="Deal-sub-toolbar" layout-padding>
  <div layout-margin>
    <h5 class="black5">Etapa</h5>
    <div class="layout-margin">
      <ol layout="row" class="progress">
        <li flex="none"><md-tooltip>Prospect</md-tooltip><svg height="3"><line x1="0" y1="0" x2="100" y2="0" /></svg></li>
        <li flex class="active"><md-tooltip>Primeiro Contato</md-tooltip><svg height="3" width="100"><line x1="0" y1="0" x2="100" y2="0" /></svg></li>
        <li flex><md-tooltip>Proposta Apresentada</md-tooltip><svg height="3"><line x1="0" y1="0" x2="100" y2="0" /></svg></li>
        <li flex><md-tooltip>Aguardando resposta</md-tooltip><svg height="3"><line x1="0" y1="0" x2="100" y2="0" /></svg></li>
        <li flex><md-tooltip>Conversando</md-tooltip><svg height="3"><line x1="0" y1="0" x2="100" y2="0" /></svg></li>
        <li flex><md-tooltip>A quick brown fox jumps over the lazy dog, meanwhile, the grumpy wizards make toxic brew for the evil Queen and Jack.</md-tooltip><svg height="3"><line x1="0" y1="0" x2="100" y2="0" /></svg></li>
        <li flex><md-tooltip>Fechamento</md-tooltip><svg height="3"><line x1="0" y1="0" x2="100" y2="0" /></svg></li>
      </ol>
    </div>
    <div>Select de info</div>
  </div>
  <div layout-margin>
    <h5 class="black5">Avaliação</h5>
    <md-radio-group class="rate">
      <md-radio-button value="Poor"><md-tooltip>Pobre</md-tooltip><md-icon class="material-icons md-primary" >star</md-icon></md-radio-button>
      <md-radio-button value="Hopeless"><md-tooltip>Sem esperança</md-tooltip><md-icon class="material-icons md-primary">star</md-icon></md-radio-button>
      <md-radio-button value="Kind of good"><md-tooltip>Mai ô menos</md-tooltip><md-icon class="material-icons md-primary">star</md-icon></md-radio-button>
      <md-radio-button value="Awesome"><md-tooltip>Bacana</md-tooltip><md-icon class="material-icons md-discrete">star</md-icon></md-radio-button>
      <md-radio-button value="DUUUDE, Marry me!"><md-tooltip>NOOOOSSSA !!</md-tooltip><md-icon class="material-icons md-discrete">star</md-icon></md-radio-button>
    </md-radio-group>
    <div>Cliente Bem Qualificado</div>
  </div>
  <div class="black5" layout-margin>
    <h5 class="black5">Valores</h5>
    <md-list class="recorrencia">
      <md-list-item style="min-width:90px;">
      <md-icon class="material-icons md-primary"><md-tooltip>Unicos</md-tooltip>lens</md-icon>
      <p class="truncate" style="white-space: nowrap;">R$ 12.338,<span>00</span></p>
      </md-list-item>
      <md-list-item style="min-width:90px;">
      <md-icon class="material-icons"><md-tooltip>Recorrentes</md-tooltip>lens</md-icon>
      <p class="truncate" style="white-space: nowrap;">R$ 1200,<span>00</span></p>
      </md-list-item>
    </md-list>
  </div>

  <span flex></span>

<div layout="row">
  <md-button class="black8" ng-click="null" md-ink-ripple="#3ec474">
    <h5>Ganha</h5>
    <md-icon md-font-icon="material-icons " class="black5">thumb_up</md-icon>
  </md-button>
  <md-button class="black8" ng-click="null" md-ink-ripple="#c42d2d">
    <h5>Perdida</h5>
    <md-icon md-font-icon="material-icons " class="black5">thumb_down</md-icon>
  </md-button>
  <md-button class="black8" ng-click="null"  md-ink-ripple="#c4c32d">
    <h5>Pausado</h5>
    <md-icon md-font-icon="material-icons" class="black5">pause</md-icon>
  </md-button>
  <md-button class="black8" ng-click="null">
    <md-icon md-font-icon="material-icons" class="black5">more_vert</md-icon>
  </md-button>
</div>
</md-subhead>

<md-content layout-fill>
</md-content>
</ui-view>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<!-- Angular Material requires Angular.js Libraries -->
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>

<!-- Angular Material Library -->
<script src="sass/angular-material/angular-material.js"></script>

<!-- Your application bootstrap  -->
<script type="text/javascript" src="js/app_config.js"></script>

<!-- Other Functionalities for angular activities -->
<script type="text/javascript" src="js/funil_select.js"></script>
<!-- Script for nice and ease-scroll for things like scrollspy <script type="text/javascript" src="js/smoothscroll.min.js"></script> -->
</body>
</html>
