.card404{
  background-image: url("../master_img/lion404.jpg");
  background-position: center center;
  background-size: 400px auto;
  background-repeat: no-repeat;
}
md-content{
  background-color: rgb(249,249,249);
  @media screen and (max-width: 960px){
  background-color: #F1F1F1;
  }
}
.table-list{
  min-height: 75px;
  &:hover , :focus{ background-color: #fcfcfc;}
  @media screen and (min-width: 961px){
    margin: 0;
    border-bottom: 1px solid #E6E3E3;
    box-shadow: none;
    border-left: 3px solid transparent;
  }
  @media screen and (max-width: 959px){> div{margin: 12px 1px;}}
  @media screen and (max-width: 768px){ box-shadow: none; border-radius: 0; > div{margin: 12px 5px; &:last-of-type{margin-right: 11px;} &:first-of-type{margin-left: 18px;}}}
}
.card-red{
  border-left: 3px solid #d53b3b;
  @media screen and (max-width: 960px){
    border-left: 6px solid #d53b3b;
    margin-bottom: 1rem;
  }
  @media screen and (max-width: 600px){
    border-left: 0;
    border-top: 5px solid #d53b3b;
    margin-bottom: 1rem;
  }
}
.card-green{
  border-left: 3px solid #3BD58F;
  @media screen and (max-width: 960px){
    border-left: 6px solid #3BD58F;
    margin-bottom: 1rem;
  }
  @media screen and (max-width: 600px){
    border-left: 0;
    border-top: 5px solid #3BD58F;
    margin-bottom: 1rem;
  }
}
.card-yellow{
  border-left: 3px solid #D4BD45;
  @media screen and (max-width: 960px){
    border-left: 6px solid #D4BD45;
    margin-bottom: 1rem;
  }
  @media screen and (max-width: 600px){
    border-left: 0;
    border-top: 5px solid #D4BD45;
    margin-bottom: 1rem;
  }
}

.rate{
  md-radio-button ._md-container {display: none;}
  md-radio-button ._md-label {margin-left: 0; color: inherit;}
  .material-icons{font-size: 16px}
  md-icon{width: 13px; height: 15px; min-width: 0; min-height: 0;}
}
.rateBig{
  md-radio-button ._md-container {display: none;}
  md-radio-button ._md-label {margin-left: 1rem;}
  .material-icons{font-size: 32px}
  md-icon{width: 26px; height: 30px; min-width: 0; min-height: 0;}
}

.userpic{
.md-avatar{margin:0 auto; width: 35px; height: auto; border-radius: 50%;}
}
.who{
  md-list-item .md-avatar, md-list-item .md-avatar-icon, md-list-item ._md-list-item-inner .md-avatar, md-list-item ._md-list-item-inner .md-avatar-icon {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
  }
  md-list-item, md-list-item ._md-list-item-inner {
    min-height: 20px;
    &:nth-child(2){font-size: .8rem; color: rgba(0,0,0,.37);}
  }
}

.recorrencia{
  cursor: default;
  md-list-item > div.md-primary > md-icon:not(.md-avatar-icon), md-list-item > div.md-secondary > md-icon:not(.md-avatar-icon), md-list-item > md-icon:first-child:not(.md-avatar-icon), md-list-item > md-icon.md-secondary:not(.md-avatar-icon), md-list-item ._md-list-item-inner > div.md-primary > md-icon:not(.md-avatar-icon), md-list-item ._md-list-item-inner > div.md-secondary > md-icon:not(.md-avatar-icon), md-list-item ._md-list-item-inner > md-icon:first-child:not(.md-avatar-icon), md-list-item ._md-list-item-inner > md-icon.md-secondary:not(.md-avatar-icon) {
  width: auto;
  margin-top: 3px;
  margin-bottom: 0;
  min-height: 0;
  }
  md-list-item > p {font-size: 0.9rem;}
  span{color: rgba(0,0,0,0.54); font-size: 0.65rem; margin-left: 10px;}
  p span{color: inherit; font-size: 0.65rem; vertical-align: top; margin-left: 0;}
  md-list-item > md-icon:first-child:not(.md-avatar-icon), md-list-item ._md-list-item-inner > md-icon:first-child:not(.md-avatar-icon) {
    margin-right: -10px;
    font-size: .6rem;
    margin-top: -1px;
  }
  md-list-item, md-list-item ._md-list-item-inner {
    min-height: 21px;
  }
  md-icon{height: auto;}
}

.tarefas{
    a > md-list-item > md-icon{ margin: 0; }
}
.late{color: rgb(231,201,75);}
.danger{color: rgb(200,58,58);}
.purple{color: rgb(157,72,203);}
.blue{color: #29B6F6;}
.green{color: rgb(72,196,122);}
.orange{color: rgb(236,155,47);}

// FUNIL SELECT
.progress {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 145px
}

.progress li {
  height: 18px;
  white-space: nowrap;
  position: relative;
  line-height: 19px;
  color: rgb(29, 194, 231);
  &:first-of-type{
    margin-left: 1rem;
  }
  svg{position: absolute; z-index: 1; top: 50%; left:-0.7rem; margin-top: 0px; stroke: #1dc2e7; stroke-width:3; width: 100%;}
  &:after{
    font-family: 'Material Icons';
    -webkit-font-feature-settings: 'liga';
    content: "fiber_manual_record";
    font-size: 0.7rem;
    position: absolute;
    right: .35rem;
    cursor: pointer;
    z-index: 2;
  }

}

.funil-past-days li{
  &:hover{
    &::before{ position: absolute; top: -1rem;  margin-left: .2rem; font-size: .8rem; color: rgba(0,0,0,.37); content: '5d'; &:first-of-type{margin-left: 1rem;}}
    &:first-of-type::before{margin-left: -1.2rem;}
  }
}
.funil-past-days li.active{
  &::before{ position: absolute; top: -1rem; margin-left: .2rem; font-size: .8rem; color: rgba(0,0,0,.37); content: '5d'; }
  &:first-of-type::before{margin-left: -1.2rem;}
}

.progress li.active {
  svg{stroke:#1dc2e7; transition: 0.25s ease;}
  &:after{transition: 0.2s ease; font-size: 1.2rem; right: 0; }
}

// .progress li.active:before {
//   background-color: #89807A
// }

.progress li.active ~ li {
  svg{stroke: #aaaaaa}
  color: #ababab;
}

.card-info{
  li{
    list-style: none;
  }
}
