.filterpull{

  .innerfilters {
    md-menu > md-list > md-list-item > div > div > div.md-list-item-text{margin-left: -12px;}
    md-list-item > md-icon:first-child:not(.md-avatar-icon){margin-right: 12px; margin-left: 11px;}
    md-list > md-list-item > md-input-container{margin-bottom: 0; width: 100%; padding-right: 2rem; margin-bottom: .4rem;}
    md-list > md-list-item {
      padding: 0;
      margin-bottom: .4rem;
      > div{
        h3{margin-left: 0;}
        md-datepicker button.md-datepicker-button{margin-left: 0; padding-left: 0;}
      }
    }
  }
}

.innermenus{
  box-shadow: 2px 2px 10px #B3B3B3;
  margin-top: -100px;
  max-height: 565px;
  md-menu-item > md-icon{
    width: 24px;
    padding-right: 0;
    pointer-events: none;
  }

}
#containerForResults{overflow-y: scroll; max-height: 390px;}

.savefilter{
  background: #fafafa;
  padding-top: 1rem;
}
