.Deal-sub-toolbar{}
.contact-chip{
  md-chips-wrap{box-shadow: none;}
  md-chip{outline: 0; &:hover{opacity: .6;}}
}
.separador{
  margin: .8rem 0;
  >md-icon{margin-right: 1rem;}
  > div{ background-image: url('http://humanitiesinstitute.wfu.edu/files/2011/08/black-line.png'); width: 100%; background-position: center center; background-repeat: no-repeat;}
}

.deal-previsao{
  button{display: none;}
  .md-datepicker-input-container{margin-left: 0;}
}

// collapsible

$collapsible-height: 56px !default;
$collapsible-header-color: #fff !default;
$collapsible-border-color: #ddd !default;
// $num-cols: 12 !default;
// $gutter-width: 1.5rem !default;
// $element-top-margin: $gutter-width/3 !default;
// $element-bottom-margin: ($gutter-width*2)/3 !default;
.collapsible {
  border-top: 1px solid $collapsible-border-color;
  border-right: 1px solid $collapsible-border-color;
  border-left: 1px solid $collapsible-border-color;
  margin: 5px -12px 5px -12px;
  list-style: none;
}

.collapsible-header {
  cursor: pointer;
  min-height: $collapsible-height;
  line-height: $collapsible-height;
  padding: .4rem .4rem .5rem 1.5rem;
  background-color: $collapsible-header-color;
  border-bottom: 1px solid $collapsible-border-color;

  i {
    width: 2rem;
    font-size: 1.6rem;
    line-height: $collapsible-height;
    display: block;
    text-align: center;
    margin-right: 1rem;
  }
  >div{
    display: inline-flex;
    min-height: $collapsible-height;
    line-height: $collapsible-height;
    vertical-align: middle;
    > div{width: 100%;}
    h6{line-height: 15px; margin-top: 14px; white-space: nowrap;}
    p{line-height: 15px; margin-top: 3px;}
    &:first-of-type{width: 130px;}
    &:nth-of-type(2){min-width: 150px; max-width: 450px;}
    &:last-of-type{display: none;}
    .md-button.md-icon-button {
      margin: 0 6px;
      height: auto;
      min-width: 0;
      line-height: 24px;
      padding: 6px;
      width: auto;
      border-radius: 50%;
      z-index: 1000;
      }
    }
}

.collapsible-body {
  display: none;
  border-bottom: 1px solid $collapsible-border-color;
  box-sizing: border-box;

  p {
    margin: 0;
    padding: 2rem;
  }
}


// Popout Collapsible

.collapsible.popout {
  border: none;
  box-shadow: none;
  > li {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 8px 0 rgba(0, 0, 0, 0.12);
    // transform: scaleX(.92);
    margin: 0 12px;
    transition: margin .35s cubic-bezier(0.250, 0.460, 0.450, 0.940);
  }
  > li.active {
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.18), 0 4px 8px 0 rgba(0, 0, 0, 0.15);
    margin: 6px 0;
    // transform: scaleX(1);
  }
}

// collapsible
