.table-list{
  margin: 0;
  border-bottom: 1px solid #e0e0e0;
  box-shadow: none;
  border-left: 3px solid #d53b3b;
  min-height: 90px;
  > div{margin-right: 16px; min-height: 80px;}
  @media screen and (max-width: 960px){ border-left: 6px solid #d53b3b; margin-bottom: 24px; padding-left: 48px;}
  @media screen and (max-width: 600px){ border-left: 0; border-top: 5px solid #d53b3b; margin-bottom: 24px; padding-left: 36px;}
}

.rate{
  md-radio-button ._md-container {display: none;}
  md-radio-button ._md-label {margin-left: 0;}
  .material-icons{font-size: 16px}
  md-icon{width: 13px; height: 15px; min-width: 0; min-height: 0;}
}

.userpic{
.md-avatar{margin:0;}
}
.who{
  md-list-item .md-avatar, md-list-item .md-avatar-icon, md-list-item ._md-list-item-inner .md-avatar, md-list-item ._md-list-item-inner .md-avatar-icon {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
  }
  md-list-item, md-list-item ._md-list-item-inner {
    min-height: 20px;
    &:nth-child(2){font-size: .8rem; color: rgba(0,0,0,.37);}
  }
}

.recorrencia{
  cursor: default;
  md-list-item > div.md-primary > md-icon:not(.md-avatar-icon), md-list-item > div.md-secondary > md-icon:not(.md-avatar-icon), md-list-item > md-icon:first-child:not(.md-avatar-icon), md-list-item > md-icon.md-secondary:not(.md-avatar-icon), md-list-item ._md-list-item-inner > div.md-primary > md-icon:not(.md-avatar-icon), md-list-item ._md-list-item-inner > div.md-secondary > md-icon:not(.md-avatar-icon), md-list-item ._md-list-item-inner > md-icon:first-child:not(.md-avatar-icon), md-list-item ._md-list-item-inner > md-icon.md-secondary:not(.md-avatar-icon) {
  width: auto;
  margin-top: 3px;
  margin-bottom: 0;
  min-height: 0;
  }
  md-list-item > p {font-size: 0.9rem;}
  span{color: rgba(0,0,0,0.54); font-size: 0.65rem; margin-left: 10px;}
  p >span{color: inherit; font-size: 0.65rem; vertical-align: top; margin-left: 0;}
  md-list-item > md-icon:first-child:not(.md-avatar-icon), md-list-item ._md-list-item-inner > md-icon:first-child:not(.md-avatar-icon) {
    margin-right: 0px;
    font-size: .6rem;
  }
  md-list-item, md-list-item ._md-list-item-inner {
    min-height: 21px;
  }
  md-icon{height: auto;}
}

.tarefas{
  md-list-item .md-avatar, md-list-item .md-avatar-icon, md-list-item ._md-list-item-inner .md-avatar, md-list-item ._md-list-item-inner .md-avatar-icon {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
  }
  md-list-item, md-list-item ._md-list-item-inner {
    min-height: 20px;
    &:nth-child(2){font-size: .8rem; color: rgba(0,0,0,.37);}
  }
  md-icon{height: auto; }
}

// FUNIL SELECT
.progress {
  list-style: none;
  margin: 0;
  padding: 0;
  min-width: 145px;
  max-width: 620px;
}

.progress li {
  height: 35px;
  float: left;
  white-space: nowrap;
  position: relative;
  line-height: 2.1rem;
  color: rgb(29, 194, 231);
  &:first-of-type{
    width: 3px;
  }
}


.progress li {
  svg{position: absolute; z-index: 1; top: 50%; left:-0.7rem; margin-top: -2px; stroke: #1dc2e7; stroke-width:3; width: 100%;}
  &:after{
    font-family: 'Material Icons';
    -webkit-font-feature-settings: 'liga';
    content: "fiber_manual_record";
    font-size: 0.7rem;
    position: absolute;
    right: .4rem;
    cursor: pointer;
    z-index: 2;
  }
}


.progress li.active {
  svg{stroke:#1dc2e7; transition: 0.3s ease;}
  &:after{transition: 0.2s ease; font-size: 1.2rem; right: 0; }
}

// .progress li.active:before {
//   background-color: #89807A
// }

.progress li.active ~ li {
  svg{stroke: #aaaaaa}
  color: #ababab;
}
