.filterpull{
  .innerfilters {
    padding-top: .8rem;
    >md-list >md-list-item >md-icon{position: absolute; margin: 0; top: 50%; margin-top: -1rem; left: 12px;}
    >md-list >md-list-item {padding-left: 48px;}
    md-list{padding: 0;}
    md-menu-bar{padding: 0;}
    md-list-item > md-icon:first-child:not(.md-avatar-icon), md-list-item ._md-list-item-inner > md-icon:first-child:not(.md-avatar-icon){
      margin-right: 12px;
    }
  }
}
.checks{
 md-icon.ng-isolate-scope{ width: 24px; height: 24px; position: relative; padding-top: 12px; left: 12px;}
}

.innermenus{
  box-shadow: 2px 2px 10px #B3B3B3;
  margin-top: -100px;
  max-height: 565px;
  md-menu-item > md-icon{
    width: 24px;
    padding-right: 0;
    pointer-events: none;
  }

}
#containerForResults{overflow-y: scroll; max-height: 390px;}

.savefilter{
  background: #fafafa;
  padding-top: 2rem;
}
