.searchinput .md-errors-spacer{
  position: absolute;
  margin-top: 32px;
}

.toolbarselect{
  md-input-container{
  margin: 0 6px; padding: 8px}
}

.user-toolbar{
  background-size: cover;
}

.subtoolbar{
  outline: 0;
  *{text-align: left;}
}
