.toolbar-height{
  min-height: 135px;
}

.btn-indent{
  md-list-item div.md-button._md-no-style{
  padding: 0 28px;
  }
}

.sidebar{
  max-width:220px;
  md-toolbar {
    background-image: url('../master_img/userbg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-origin: border-box;
    > md-menu{
      margin: 0;
      position: absolute;
      bottom: 0;
    }
  }
}

.searchinput {
  min-width: 240px;
  margin: 0;
  padding: 0;
  input{border-color: rgba(255,255,255,.30); color: rgba(255,255,255,1);}
  input::-webkit-input-placeholder, input:-moz-placeholder, input::-moz-placeholder, input:-ms-input-placeholder {color: rgba(255,255,255,.50) !important;}

}

.subtoolbar{
  outline: 0;
  border-left: 3px solid transparent;
  white-space: nowrap;
  a{
    font-size: 0.8rem;
    color: rgba(0,0,0,0.54) !important;
    padding-right: 0.6rem;
    box-sizing: content-box;
    display: block;
    &::after{
    position: absolute;
     font-family: 'Material Icons';
     line-height: 12px;
     -webkit-font-feature-settings: 'liga';
      content: "expand_more";
      font-size: .9rem;
      margin-top: 3px;
    }
    &:hover{  color: rgba(26,128,128,.54) !important;}
  }
}
.maintoolbarselect{
  md-select.md-default-theme ._md-select-value._md-select-placeholder, md-select ._md-select-value._md-select-placeholder{
  color: rgba(255,255,255,.87);
  }
md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar){
  color: white;
}
  md-input-container.md-default-theme:not(.md-input-invalid).md-input-has-value label, md-input-container:not(.md-input-invalid).md-input-has-value label{
  color: rgba(255,255,255,.7);
  }

  @media screen and (max-width: 490px) { > div{width: 100%; margin: 0.5rem 0}}
}

.notification{
  > span{
    font-size: .75rem;
    top: -.275rem;
    position: relative;
    line-height: 0;
    margin-left: -.6rem;
    > span{
    z-index: 1;
    margin-left: 0.1rem;
    top: -0.1rem;
    position: relative;
    }
  }
  > span i{position: absolute; top: -.375rem; left:-0.375rem; font-size: 1.4rem; color: #de5c5c; z-index: -1;}
}
.notification-Menu{
  background-color: #e0e0e0;
  padding: 0;
  padding-bottom: 1.5rem;
  h3{padding: 0 1.5rem;}
  md-toolbar{margin-bottom: 1rem;}
  md-menu-item{ margin: 0.1rem .5rem;}
  button.md-button{ background-color: #fafafa; border-radius: 6px;}
}
.filteractive{
  > span{
    font-size: .70rem;
    top: -.275rem;
    position: relative;
    line-height: 0;
    margin-left: -.6rem;
    z-index: 2;
    > span{
    z-index: 2;
    margin-left: 0.1rem;
    top: -0.1rem;
    position: relative;
    }
  }
  > span i{position: absolute; top: -.375rem; left:-0.375rem; font-size: 1.4rem; color: #BC8CD6; z-index: 1;}
}

.bulkActions{
  font-size: 0.8rem;
  md-button{text-align: left;}
  md-menu button.md-button{
  text-transform: none;  color: rgba(0,0,0,0.54);
  span{font-size: 0.8rem; font-weight: 400;}
  i.material-icons{vertical-align: middle; font-size: 17px;}
  }
}
