.toolbar-height{
  min-height: 135px;
}

.btn-indent{
  md-list-item div.md-button._md-no-style{
  padding: 0 28px;
  }
}

.sidebar{
  max-width:220px;
  md-toolbar {
    background-image: url('../master_img/userbg.jpg');
    background-size: cover;
    > md-menu{
      margin: 0;
      position: absolute;
      bottom: 0.8rem;
      > button{
      margin: 0;
      text-transform: none;
      padding-right: 0.6rem;
      img{width: 50px; height: 50px; border-radius: 50%; margin-right: 1rem;}
      }
    }
  }
}

.searchinput {
  input{border-color: rgba(255,255,255,.30); color: rgba(255,255,255,1);}
  input::-webkit-input-placeholder, input:-moz-placeholder, input::-moz-placeholder, input:-ms-input-placeholder {color: rgba(255,255,255,.50);}
}

.subtoolbar{
  outline: 0;
  *{text-align: left;}
}
.maintoolbarselect{
  md-input-container .md-select-value.md-select-placeholder{color: rgba(255,255,255,.70); border-bottom: none;}
  md-input-container.md-input-has-value label { color: rgba(255,255,255,.70);}
  md-input-container .md-select-value{border-bottom: none; color: white;}
  @media screen and (max-width: 490px) {display: inline-table;}
}


.notification{
  > span{
    font-size: .75rem;
    top: -.275rem;
    position: relative;
    line-height: 0;
    margin-left: -.6rem;
    > span{
    z-index: 1;
    margin-left: 0.1rem;
    top: -0.1rem;
    position: relative;
    }
  }
  > span i{position: absolute; top: -.375rem; left:-0.375rem; font-size: 1.4rem; color: #de5c5c; z-index: -1;}
}
.notification-Menu{
  background-color: #e0e0e0;
  padding: 0;
  padding-bottom: 1.5rem;
  h3{padding: 0 1.5rem;}
  md-toolbar{margin-bottom: 1rem;}
  md-menu-item{ margin: 0.1rem .5rem;}
  button.md-button{ background-color: #fafafa; border-radius: 6px;}
}
.checkbar{
  border-left: 4px solid transparent;
  outline: 0;
  padding-top:12px;
}
