<md-toolbar class="md-theme-light md-warn toolbar-height" >
  <md-list-item ng-click="toggleNotification()" style="outline: none;">
    <md-icon md-font-icon="material-icons">notifications_none</md-icon>
    <h2 flex> Notificações </h2>
    <md-icon md-font-icon="material-icons">close</md-icon>
  </md-list-item>
      <md-button style="margin-top: 22px"><md-icon md-font-icon="material-icons">playlist_add_check</md-icon>&nbsp;Marcar tudo como Lido</md-button>
</md-toolbar>
<div style="padding: 12px 30px"><p style="text-align: center; font-size: 0.85rem; color: #999;">Você tem 7 notificações</p></div>
<md-card>
<md-list-item ng-click="null">
<div><md-checkbox ng-model="person.selected"></md-checkbox></div>
<div flex>
  <h4>I love kitten. nhac! :3</h4>
  <p>criado à 8 dias atrás</p>
</div>
<md-icon md-font-icon="material-icons">fiber_new</md-icon>
</md-list-item>
</md-card>
<md-card>
<md-list-item ng-click="null">
<div><md-checkbox ng-model="person.selected"></md-checkbox></div>
<div flex>
  <h4>I love kitten. nhac! :3</h4>
  <p>criado à 8 dias atrás</p>
</div>
<md-icon md-font-icon="material-icons">fiber_new</md-icon>
</md-list-item>
</md-card>
<md-card>
<md-list-item ng-click="null">
<div><md-checkbox ng-model="person.selected"></md-checkbox></div>
<div flex>
  <h4>I love kitten. nhac! :3</h4>
  <p>criado à 8 dias atrás</p>
</div>
<md-icon md-font-icon="material-icons">fiber_new</md-icon>
</md-list-item>
</md-card>
<md-card>
<md-list-item ng-click="null">
<div><md-checkbox ng-model="person.selected"></md-checkbox></div>
<div flex>
  <h4>I love kitten. nhac! :3</h4>
  <p>criado à 8 dias atrás</p>
</div>
<md-icon md-font-icon="material-icons">fiber_new</md-icon>
</md-list-item>
</md-card>
<div ng-click="null" id="task-seemore"><a>Ver todas</a></div>
