<!DOCTYPE html>
<html ng-app="PlugPlatform">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Plug CRM | PAGE_TITLE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1 user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="The Best CRM in latin-america" />
    <meta name="keywords" content="CRM, Plug" />
    <meta name="author" content="Plug CRM | Christhopher lion@stormcloud.me" />
    <link rel="shortcut icon" href="../favicon.ico">
    <link rel="apple-touch-icon" href="iphone-icon.png"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>
  
</body>
</html>
